#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9933FF;
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9933FF;
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 94px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}