#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-37246f2b-610c-43b9-99b0-08af8cd20acd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}