#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Near-me_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Near-me_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Home_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Home_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Events_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Events_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Favorites_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Favorites_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Place3_desc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Place3_arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Place3_separator {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Place2_desc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Place2_arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Place2_separator {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Place2_separator_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Events-bar_Bot-separator {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Settings_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-49905f46-e4fc-4723-9d7d-112c8e6f0641 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}