#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Near-me_button {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Near-me_img {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Home_button {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Home_img {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Events_button {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Events_img {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Favorites_button {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Favorites_img {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_img {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_desc {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_arrow {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_separator {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_separator {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_img {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_desc {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_arrow {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_separator {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_separator {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_img {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_desc {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_arrow {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_separator {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_separator {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Label_31 {
  -pie-background: linear-gradient(to bottom,#9933FF,#C36BFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Settings_button {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_img_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_desc_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_arrow_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_separator_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_separator_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}