#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Near-me_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Near-me_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Home_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Home_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Events_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Events_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Favorites_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Favorites_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_desc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_separator {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_desc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place2_separator {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_desc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place1_separator {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Settings_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_img_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_desc_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 #s-Place3_separator_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-69faf821-6dcd-4653-995c-72dfb615c275 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}